<span class="adjust-header-height"></span>
<header>
  <div class="father">
    <div *ngIf="model.socialHub !== undefined" class="father__social-hub-tab">
      <app-regular-horizontal-padding>
        <app-small-vertical-padding>
          <div class="father__social-hub-tab__content">
            <div
              class="father__social-hub-tab__content__list father__social-hub-tab__content__button-list"
            >
              <app-regular-list
                [model]="{
                  style: {
                    'flex-direction': 'row',
                    'list-style': 'none',
                    gap: '28px'
                  }
                }"
              >
                <li *ngFor="let button of model.socialHub.buttons">
                  <app-medium-text-button (click)="button.callback()">
                    <i class="{{ button.icon }}"></i>
                  </app-medium-text-button>
                </li>
              </app-regular-list>
            </div>
            <app-regular-text-link [href]="model.socialHub.link">
              {{ model.socialHub.title }}
            </app-regular-text-link>
            <div
              class="father__social-hub-tab__content__list father__social-hub-tab__content__link-list"
            >
              <app-regular-list
                [model]="{
                  style: {
                    'flex-direction': 'row',
                    'list-style': 'none',
                    gap: '28px'
                  }
                }"
              >
                <li *ngFor="let link of model.socialHub.links">
                  <app-medium-text-link [href]="link.href">
                    <i class="{{ link.icon }}"></i>
                  </app-medium-text-link>
                </li>
              </app-regular-list>
            </div>
          </div>
        </app-small-vertical-padding>
      </app-regular-horizontal-padding>
    </div>
    <div class="father__action-tab">
      <app-regular-horizontal-padding>
        <app-small-vertical-padding>
          <div class="father__action-tab__content">
            <div class="father__action-tab__content__brand-icon">
              <app-regular-brand-icon></app-regular-brand-icon>
            </div>
            <div class="father__action-tab__content__brand-logo">
              <app-regular-brand-logo></app-regular-brand-logo>
            </div>
            <div class="father__action-tab__content__slide-menu-button">
              <app-big-text-button (click)="onSlideMenuButtonClick()">
                <i class="bi bi-list"></i>
              </app-big-text-button>
            </div>
            <div class="father__action-tab__content__link-list">
              <app-regular-list
                [model]="{
                  style: {
                    'flex-direction': 'row',
                    'list-style': 'none',
                    gap: '42px'
                  }
                }"
              >
                <li *ngFor="let link of model.action.links">
                  <app-animated-text-link [href]="link.href">
                    {{ link.innerText }}
                  </app-animated-text-link>
                </li>
              </app-regular-list>
            </div>
          </div>
        </app-small-vertical-padding>
      </app-regular-horizontal-padding>
    </div>
    <div
      class="father__slide-menu-list-tab"
      [ngClass]="slideMenuClassController"
    >
      <app-regular-horizontal-padding>
        <app-small-vertical-padding>
          <app-regular-list
            [model]="{
              style: {
                'flex-direction': 'column',
                'justify-content': 'center',
                'list-style': 'none',
                'align-items': 'start',
                gap: '28px'
              }
            }"
          >
            <li *ngFor="let link of model.action.links">
              <app-regular-text-link [href]="link.href" [target]="'_self'">
                <i class="{{ link.icon }}"></i>
                {{ link.innerText }}
              </app-regular-text-link>
            </li>
          </app-regular-list>
        </app-small-vertical-padding>
      </app-regular-horizontal-padding>
    </div>
  </div>
</header>
<button
  class="disable-slide-menu-list-tab"
  [ngClass]="slideMenuClassController"
  (click)="onSlideMenuButtonClick()"
></button>
