div.father__formacao-da-comissao {
  color: var(--primary-color);
}

div.father__formacao-da-comissao__image {
  display: none;
  min-width: 580px;

  @media (min-width: 1300px) {
    display: flex;
  }
}

div.father__formacao-da-comissao__content__image {
      width: 100%;

  @media (min-width: 1300px) {
      display: none;
  }
}