div.father__servicos-do-nucleo {
  color: var(--primary-color);
}

div.father__servicos-do-nucleo__image {
  display: none;
  min-width: 400px;

  img {
    width: 100%;
  }

  @media (min-width: 1100px) {
    display: flex;
  }

  @media (min-width: 1300px) {
    min-width: 420px;
  }
}
