<app-regular-header [model]="homePageHeaderMock.model"></app-regular-header>
<app-regular-main>
      <app-genti></app-genti>
      <app-grupo-de-estudo></app-grupo-de-estudo>
      <app-objetivos-e-composicao></app-objetivos-e-composicao>
      <app-historico></app-historico>
      <app-descritivo-sobre-logo></app-descritivo-sobre-logo>
      <app-ensino-extensao-pesquisa></app-ensino-extensao-pesquisa>
      <app-formacao-da-comissao></app-formacao-da-comissao>
      <app-equipes-da-composicao></app-equipes-da-composicao>
      <app-estrutura></app-estrutura>
</app-regular-main>
<app-regular-footer [model]="homePageFooterMock.model"></app-regular-footer>