<div class="father">
  <app-regular-section-box>
    <div class="father__genti">
      <app-regular-flex-box
        [model]="{
          style: {
            'flex-direction': 'row',
            'justify-content': 'center',
            'align-items': 'center',
            gap: '100px'
          }
        }"
      >
        <div>
          <app-regular-section-box-title>
            GENTI - Grupo de Estudo Núcleo de TI
          </app-regular-section-box-title>
          <p>
            A criação do Grupo de Estudo Núcleo de TI – UNISO, surgiu em junho
            de 2022, com os Coordenadores Professores Richardson e Denicezar, em
            uma reunião envolvendo as áreas de TI da Universidade de Sorocaba –
            UNISO. O entendimento conjunto que a integração dessas áreas
            proporcionaria o fortalecimento de alunos, professores,
            coordenadores e a IE foram cruciais para as ações tomadas a seguir.
          </p>
        </div>
        <div class="father__genti__image">
          <app-regular-brand-icon></app-regular-brand-icon>
        </div>
      </app-regular-flex-box>
    </div>
  </app-regular-section-box>
</div>
