<div class="father">
  <app-big-section-box>
    <div class="father__servicos-do-nucleo">
      <app-regular-flex-box
        [model]="{
          style: {
            'flex-direction': 'row',
            'justify-content': 'center',
            'align-items': 'center',
            gap: '100px'
          }
        }"
      >
        <div>
          <app-regular-section-box-title>
            Serviços do núcleo
          </app-regular-section-box-title>
          <app-regular-flex-box
            [model]="{
              style: {
                'flex-direction': 'column',
                'justify-content': 'start',
                'align-items': 'center',
                gap: '8px'
              }
            }"
          >
            <p>
              No seu estágio inicial o núcleo já vem criando parcerias com os
              demais cursos da universidade, sendo eles, Fisioterapia,
              Odontologia, Fonoaudiologia, Terapia Ocupacional, Pedagogia, entre
              outros, para o desenvolvimento de protótipos de aplicativos e
              sites voltados aos Trabalhos de Conclusão de Curso e Projetos
              Integradores, pois hoje é uma demanda da Universidade em fazer a
              maor parte das entregas dos projetos em formato Virtual.
            </p>
            <p>
              O Núcleo fez uma parceria com a CISEP Sorocaba -SP, no site do PAM
              (Programa de Auxilio Mutuo), que envolve 25 grandes empresas de
              Sorocaba com o Corpo de Bombeiro.
            </p>
          </app-regular-flex-box>
        </div>
        <div class="father__servicos-do-nucleo__image">
          <img
            src="./assets/images/general/jrxatnqmrwim.png"
            alt="Computer Image"
          />
        </div>
      </app-regular-flex-box>
    </div>
  </app-big-section-box>
</div>
