div.father__equipes-da-composicao {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
}

div.father__equipes-da-composicao__equipe {
      width: 320px;
}

span.father__equipes-da-composicao__equipe__title {
      font-weight: bold;
}