<div class="father">
      <app-regular-section-box>
            <div class="father__parceiros-do-nucleo">
                  <app-regular-section-box-title>
                        Parceiros do Núcleo
                  </app-regular-section-box-title>
                  <app-regular-flex-box
                        [model]="{ style: { 'flex-direction': 'column', 'align-items': 'start', 'justify-content': 'start', 'gap': '8px' } }">
                        <p>
                              A parceria consiste em trazer as empresas para dentro da Universidade, no qual poderá ter
                              acesso, o que temos de melhor para o mercado de trabalho, os Alunos da UNISO. Essas
                              empresas, tem a possibilidade de colcoar num lab para treinamento técnico e
                              comportamental, como os nossos alunos, para fazer uma seleção para contratação nível de
                              estágio e CLT, levando nossos estudantes para o mercado de trabalho. As empresas não são
                              somente nosso ponto principal, o Núcleo visa realizar parcerias com outras instituições de
                              ensino, com o objetivo de treinamentos e parcerias para ambos os lados.
                        </p>
                        <p>
                              As empresas parceiras, participam durante o semestre letivo em nossos eventos, com
                              palestras, workshops e treinamentos de ferramentas específicas.
                        </p>
                  </app-regular-flex-box>
                  <app-small-vertical-padding></app-small-vertical-padding>
                  <app-border-text-link>
                        Quer ser um Parceiro?
                  </app-border-text-link>
            </div>
      </app-regular-section-box>
</div>