<div class="father">
  <app-regular-vertical-padding>
    <div class="father__grupo-de-estudo">
      <app-regular-section-box>
        <app-regular-section-box-title>
          Projetos para parceiros
        </app-regular-section-box-title>
        <p>
          O Grupo de Estudo Núcleo de TI tem como propósito fortalecer a
          interação na Universidade, promovendo a colaboração entre alunos,
          professores, coordenadores e a Reitoria, enquanto desenvolve o tripé
          essencial da Instituição Acadêmica: Ensino, Pesquisa e Extensão. Além
          disso, busca estabelecer parcerias estratégicas com empresas de
          Sorocaba e região, visando a realização de eventos, treinamentos e a
          disponibilização de alunos qualificados para o mercado de trabalho,
          abrangendo funções que vão desde estágios e programas de trainee até
          contratações regidas pela CLT. Essa iniciativa visa também engajar
          ativamente os alunos no processo de integração entre a universidade e
          as empresas do setor, proporcionando uma experiência prática e
          alinhada às demandas do mercado, contribuindo assim para o
          desenvolvimento conjunto da academia e do setor empresarial.
        </p>
      </app-regular-section-box>
    </div>
  </app-regular-vertical-padding>
</div>
