<div class="father">
      <app-regular-vertical-padding>
            <div class="father__nossos-parceiros">
                  <app-regular-section-box>
                        <app-regular-section-box-title>
                              Conheça nossos Parceiros
                        </app-regular-section-box-title>
                        <app-regular-flex-box [model]="{ 
                              style: {
                                    'flex-direction': 'column',
                                    'align-items': 'center',
                                    'justify-content': 'center',
                                    'gap': '28px'
                              } 
                        }">
                              <app-regular-flex-box [model]="{ 
                                    style: {
                                          'flex-direction': 'column',
                                          'align-items': 'center',
                                          'justify-content': 'center',
                                          'gap': '28px'
                                    } 
                              }">
                              
                              </app-regular-flex-box>
                        </app-regular-flex-box>
                  </app-regular-section-box>
            </div>
      </app-regular-vertical-padding>
</div>