div.father__button {
      &.--loading {
            span.father__button__load-icon {
                  display: flex;
            }
      }
}

span.father__button__load-icon {
      display: none;
      transform: translateY(2.4px);
      animation: spinner 1s linear forwards infinite !important;

      i {
            display: flex;
            align-items: center;
            justify-content: center;
      }
}

@keyframes spinner {
      from {
            transform: translateY(2.4px) rotate(0deg);
      }

      to {
            transform: translateY(2.4px) rotate(360deg);
      }
}