div.father__button {
      &.--loading {
            span.father__button__load-icon {
                  display: flex;
            }
      }
}

span.father__button__load-icon {
      display: none;
      animation: spinner 1s linear forwards infinite !important;
}

@keyframes spinner {
      from {
            transform: rotate(0deg);
      }

      to {
            transform: rotate(360deg);
      }
}