<div class="father">
  <app-regular-vertical-padding>
    <div class="father__projetos-para-parceiros">
      <app-regular-section-box>
        <app-regular-section-box-title>
          Projetos para parceiros
        </app-regular-section-box-title>
        <app-regular-flex-box
          [model]="{
            style: {
              'flex-direction': 'column',
              'justify-content': 'center',
              'align-items': 'center',
              gap: '28px'
            },
            media: [
              {
                'min-width': 600,
                style: {
                  'flex-direction': 'row',
                  'justify-content': 'space-between',
                  'align-items': 'center',
                  gap: '28px'
                }
              }
            ]
          }"
        >
          <div class="father__projetos-para-parceiros__box">
            <app-small-section-box>
              <app-regular-flex-box
                [model]="{
                  style: {
                    'flex-direction': 'column',
                    'justify-content': 'center',
                    'align-items': 'center',
                    gap: '42px'
                  }
                }"
              >
                <h3>Serviços do núcleo</h3>
                <p>Para cursos dentro da universidade</p>
                <app-regular-text-link [href]="'#'">
                  Veja mais >
                </app-regular-text-link>
              </app-regular-flex-box>
            </app-small-section-box>
          </div>
          <div class="father__projetos-para-parceiros__box">
            <app-small-section-box>
              <app-regular-flex-box
                [model]="{
                  style: {
                    'flex-direction': 'column',
                    'justify-content': 'center',
                    'align-items': 'center',
                    gap: '42px'
                  }
                }"
              >
                <h3>Externos</h3>
                <p>Para parceiros fora da universidade</p>
                <app-regular-text-link [href]="'#'">
                  Veja mais >
                </app-regular-text-link>
              </app-regular-flex-box>
            </app-small-section-box>
          </div>
        </app-regular-flex-box>
      </app-regular-section-box>
    </div>
  </app-regular-vertical-padding>
</div>
