<div class="father">
  <app-regular-vertical-padding>
    <div class="father__historico">
      <app-regular-section-box>
        <app-regular-section-box-title>
          Histórico
        </app-regular-section-box-title>
        <p>
          Em 14 de junho de 2022, desenvolvemos o primeiro evento, um minicurso
          de Fluxograma realizado na Universidade, no Lab 103 do Prédio de Apoio
          01. Nessa ocasião, analisamos a ação como um piloto para garantir o
          êxito na criação do Núcleo. Em julho do mesmo ano, consolidamos uma
          parceria com a PAM – Projeto de Auxílio Mútuo, envolvendo o Corpo de
          Bombeiros e a Brigada de Incêndio de mais de 25 empresas da cidade.
          Para esse projeto, contamos com o apoio de 9 professores e 12 alunos
          do curso de TI. Com o objetivo de divulgar as ações do Núcleo,
          optamos, na mesma época, pela criação de nossa rede social no
          Instagram (www.instagram.com/nucleodeti_uniso). Em agosto, fundamos
          uma Comissão do Grupo de Estudo Núcleo de TI, composta por alunos dos
          5 cursos que integram o Núcleo de TI, contando com a participação de
          32 alunos. Além disso, firmamos parceria com uma agência de
          Publicidade da cidade, cujo proprietário é ex-aluno da Instituição de
          Ensino. Após uma reunião com os coordenadores dos cursos, obtivemos
          resultados significativos.
        </p>
      </app-regular-section-box>
    </div>
  </app-regular-vertical-padding>
</div>
