div.father__projetos-para-parceiros {
  background-color: var(--blue);
  color: white;
}

div.father__projetos-para-parceiros__box {
  text-align: center;
  width: 100%;
  border: var(--regular-border-size) solid var(--yellow);
  border-radius: var(--regular-border-radius);
}