div.father__jornada-academica {
  color: var(--primary-color);
}

a.father__jornada-academica__image {
  &:last-of-type {
    display: none;
  }

  img {
    border-radius: var(--regular-border-radius);
    width: 100%;
  }

  @media (min-width: 1000px) {
    &:last-of-type {
      display: initial;
    }
  }
}
