<div class="father">
  <app-regular-section-box>
    <div class="father__estrutura">
      <app-regular-section-box-title> Estrutura </app-regular-section-box-title>
      <div class="father__estrutura__content">
        <app-regular-flex-box
          [model]="{ style: { 'flex-direction': 'column', 'justify-content': 'start', 'align-items': 'start', gap: '42px' } }">
          <p>
            Em sua estrutura o núcleo conta com diversas ferramentas para seu
            total funcionamento, sendo elas divididas em categorias.
          </p>
          <div class="father__estrutura__content__boxes">
            <app-regular-flex-box [model]="{ 
                  style: { 
                              'flex-direction': 'column', 
                              'justify-content': 'center', 
                              'align-items': 'center', 
                              gap: '28px' 
                        }, 
                  media: [ 
                              {
                                    'min-width': 700, 
                                    style: { 
                                          'flex-direction': 'row', 
                                          'justify-content': 'center',
                                          'align-items': 'center', 
                                          gap: '28px' 
                                    } 
                              } 
                        ] 
                  }">
              <div class="father__estrutura__content__boxes__boxes">
                <app-regular-flex-box [model]="{ 
                  style: { 
                              'flex-direction': 'column', 
                              'justify-content': 'center', 
                              'align-items': 'center', 
                              gap: '28px' 
                        }, 
                  media: [ 
                              {
                                    'min-width': 1200, 
                                    style: { 
                                          'flex-direction': 'row', 
                                          'justify-content': 'center',
                                          'align-items': 'center', 
                                          gap: '28px' 
                                    } 
                              } 
                        ] 
                  }">
                  <div class="father__estrutura__content__boxes__boxes__box">
                    <app-small-section-box>
                      <app-regular-flex-box
                        [model]="{ style: { 'flex-direction': 'column', 'justify-content': 'center', 'align-items': 'center', gap: '8px' } }">
                        <app-large-text>
                          <i class="bi bi-cpu"></i>
                        </app-large-text>
                        <p>Servidor</p>
                      </app-regular-flex-box>
                    </app-small-section-box>
                  </div>
                  <div class="father__estrutura__content__boxes__boxes__box">
                    <app-small-section-box>
                      <app-regular-flex-box
                        [model]="{ style: { 'flex-direction': 'column', 'justify-content': 'center', 'align-items': 'center', gap: '8px' } }">
                        <app-large-text>
                          <i class="bi bi-globe2"></i>
                        </app-large-text>
                        <p>Site</p>
                      </app-regular-flex-box>
                    </app-small-section-box>
                  </div>
                </app-regular-flex-box>
              </div>
              <div class="father__estrutura__content__boxes__boxes">
                <app-regular-flex-box [model]="{ 
                  style: { 
                              'flex-direction': 'column', 
                              'justify-content': 'center', 
                              'align-items': 'center', 
                              gap: '28px' 
                        }, 
                  media: [ 
                              {
                                    'min-width': 1200, 
                                    style: { 
                                          'flex-direction': 'row', 
                                          'justify-content': 'center',
                                          'align-items': 'center', 
                                          gap: '28px' 
                                    } 
                              } 
                        ] 
                  }">
                  <div class="father__estrutura__content__boxes__boxes__box">
                    <app-small-section-box>
                      <app-regular-flex-box
                        [model]="{ style: { 'flex-direction': 'column', 'justify-content': 'center', 'align-items': 'center', gap: '8px' } }">
                        <app-large-text>
                          <i class="bi bi-signpost"></i>
                        </app-large-text>
                        <p>Local</p>
                      </app-regular-flex-box>
                    </app-small-section-box>
                  </div>
                  <div class="father__estrutura__content__boxes__boxes__box">
                    <app-small-section-box>
                      <app-regular-flex-box
                        [model]="{ style: { 'flex-direction': 'column', 'justify-content': 'center', 'align-items': 'center', gap: '8px' } }">
                        <app-large-text>
                          <i class="bi bi-people-fill"></i>
                        </app-large-text>
                        <p>Comissão</p>
                      </app-regular-flex-box>
                    </app-small-section-box>
                  </div>
                </app-regular-flex-box>
              </div>
            </app-regular-flex-box>
          </div>
        </app-regular-flex-box>
      </div>
    </div>
  </app-regular-section-box>
</div>