<div class="father">
  <app-regular-section-box>
    <div class="father__descritivo-sobre-logo">
      <app-regular-flex-box
        [model]="{
          style: {
            'flex-direction': 'row',
            'justify-content': 'center',
            'align-items': 'center',
            gap: '42px'
          }
        }"
      >
        <div class="father__descritivo-sobre-logo__image">
          <app-regular-brand-logo
            [src]="'./assets/images/general/icnnfoardjls.png'"
          ></app-regular-brand-logo>
        </div>
        <div class="father__descritivo-sobre-logo__content">
          <app-regular-section-box-title>
            Descritivo sobre logo Grupo de Estudo Núcleo de TI (Principal)
          </app-regular-section-box-title>
          <app-regular-flex-box
            [model]="{
              style: {
                'flex-direction': 'column',
                'justify-content': 'start',
                'align-items': 'center',
                gap: '42px'
              }
            }"
          >
            <div class="father__descritivo-sobre-logo__content__image">
              <app-regular-brand-logo
                [src]="'./assets/images/general/oqvyeppfrxbm.png'"
              ></app-regular-brand-logo>
            </div>
            <p>
              O logo do Grupo de Estudo Núcleo de Tecnologia da Informação da
              Universidade de Sorocaba foi concebido com base na imagem da
              seriema, um animal recorrente no campus universitário, e reflete o
              dinamismo constante da tecnologia. Utilizando os tons
              característicos da universidade, azul e amarelo, o logo apresenta
              um movimento circular que sugere as longas pernas e pescoço da
              seriema, com um círculo focal representando a forma geométrica do
              logo da universidade e simbolizando o mundo.
            </p>
          </app-regular-flex-box>
        </div>
      </app-regular-flex-box>
    </div>
  </app-regular-section-box>
</div>
