div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 52px;

  a {
      &.--blue {
            &:hover {
                  background-color: var(--primary-color);
                  color: var(--tertiary-color);
            }

            border: var(--regular-border-size) solid var(--primary-color);
            color: var(--primary-color);
      }

      &.--yellow {
            &:hover {
                  background-color: var(--yellow);
                  color: white;
            }

            border: var(--regular-border-size) solid var(--yellow);
            color: var(--yellow);
      }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 460px;
    white-space: nowrap;
    font-size: 18px;
    padding: 14px 0px;
    border-radius: var(--regular-border-radius);
  }
}
