div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  a {
    &:hover {
      background-color: var(--primary-color);
      color: var(--tertiary-color);
    }

    &.--filled {
      background-color: var(--primary-color);
      color: var(--tertiary-color);
    }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 460px;
    white-space: nowrap;
    border: var(--regular-border-size) solid var(--primary-color);
    color: var(--primary-color);
    font-size: 18px;
    padding: 14px 0px;
    transition: var(--regular-animation-process);
    border-radius: var(--regular-border-radius);
  }
}
