div.father__guia-do-aluno {
      color: var(--primary-color);
}

div.father__guia-do-aluno__box {
      width: 100%;
      border-radius: var(--regular-border-radius);
      border: var(--regular-border-size) solid var(--primary-color);
}